.wrapper {
    height: 90vh;
    width: 100%;
}

/* Default Theme */
   /* General style */
       .jsCalendar * {
           margin: 0;
           padding: 0;
       }
       .jsCalendar table,
       .jsCalendar table th,
       .jsCalendar table td {
           border: 0;
       }     
       /* Blue default */
           .jsCalendar table {
               background-color: #000000;
               border-collapse: collapse;
               border-radius: 4px;
               box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
               color: #FFFFFF;
               grid-area: table;
           }

           .jsCalendar thead .jsCalendar-week-days {
               height: 100%;
           }
           .jsCalendar thead .jsCalendar-title-left {
               float: left;
           }
           .jsCalendar thead .jsCalendar-title-right {
               float: right;
           }
           .jsCalendar thead .jsCalendar-nav-left, 
           .jsCalendar thead .jsCalendar-nav-right {
               border-radius: 10px;
               color: #999999;
               cursor: pointer;
               font-family: "Courier New", Courier, monospace;
               font-size: 1rem;
               font-weight: bold;    
               margin: 10px 8px;
               text-align: center;
               transition: color 0.2s, background-color 0.2s;
           }
           .jsCalendar thead .jsCalendar-nav-left:hover,
           .jsCalendar thead .jsCalendar-nav-right:hover {
               background-color: #6e6b6b;
               color: #201d1d;
           }
           .jsCalendar thead .jsCalendar-nav-left {
               float: left;
           }
           .jsCalendar thead .jsCalendar-nav-right {
               float: right;
           }
           .jsCalendar thead .jsCalendar-title-name {
               cursor: default;
               text-align: center;
               padding-top: 1%;
               font-size: 2em;
               font-weight: lighter;
           }
           .jsCalendar thead .jsCalendar-nav-left:after {
               content: "<";
           }
           .jsCalendar thead .jsCalendar-nav-right:after {
               content: ">";
           }
           .jsCalendar thead .jsCalendar-week-days th {
               text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
           }

           .jsCalendar thead .jsCalendar-title-row,
           .jsCalendar thead .jsCalendar-week-days {
               width: 100%;
               height: 6vh;
           }
           .jsCalendar thead .jsCalendar-week-days th,
           .jsCalendar tbody td {
               border-radius: 18px;
               cursor: default;
               vertical-align: middle;
               font-size: 1rem;
               font-weight: lighter;
               margin: 1px 2px;
               text-align: center;
               transition: color 0.1s, background-color 0.2s;
               width: 13.8%;
           }

           .jsCalendar tbody td:hover {
               background-color: #E6E6E6;
           }
           
           .jsCalendar tbody td.jsCalendar-current {
               background-color: #52C9FF;
               border-radius: 18px;
               color: #FFFFFF;
           }
           .jsCalendar tbody td.jsCalendar-previous,
           .jsCalendar tbody td.jsCalendar-next {
               color: #CACACA;
           }
           .jsCalendar tbody td.jsCalendar-previous:hover,
           .jsCalendar tbody td.jsCalendar-next:hover {
               color: #FFFFFF;
           }

           .jsCalendar ::-moz-selection {
               background: #83D8FF;
           }
           .jsCalendar ::selection {
               background: #83D8FF;
           }

    /* Black theme */
    .jsCalendar.black-theme table {
        background-color:#000;
        box-shadow:0 0 2px rgba(80,80,80,.4);
        color:#CCC;
    }
    .jsCalendar.black-theme thead .jsCalendar-nav-left,.jsCalendar.black-theme thead .jsCalendar-nav-right {
        color:#505050
    }
    .jsCalendar.black-theme thead .jsCalendar-nav-left:hover,.jsCalendar.black-theme thead .jsCalendar-nav-right:hover {
        background-color:#252525;
        color:rgb(75, 72, 72);
    }
    .jsCalendar.black-theme tbody td.jsCalendar-selected
    {
        background-color:#000
        ;border:2px solid #404040
    }
    .jsCalendar.black-theme tbody td:hover {
        background-color:#252525;
        color:#FFF;
    }
    .jsCalendar.black-theme tbody td.jsCalendar-current {
        background-color:#252525
    }
    .jsCalendar.black-theme tbody td.jsCalendar-next,.jsCalendar.black-theme tbody td.jsCalendar-previous {
        color:#505050
    }
    .jsCalendar.black-theme tbody td.jsCalendar-next:hover,.jsCalendar.black-theme tbody td.jsCalendar-previous:hover {
        color:#FFF
    }
    .jsCalendar.black-theme ::-moz-selection {
        background:#505050
    }
    .jsCalendar.black-theme ::selection {
        background:#505050 
    }
    .jsCalendar.grey-theme table {
        background-color:#E3E6EB;
        box-shadow:0 0 2px rgba(0,0,0,.5)
        ;color:#242529;
    }
    .jsCalendar.grey-theme thead .jsCalendar-nav-left,.jsCalendar.grey-theme thead .jsCalendar-nav-right {
        color:#717580
    }
    .jsCalendar.grey-theme thead .jsCalendar-nav-left:hover,.jsCalendar.grey-theme thead .jsCalendar-nav-right:hover {
        background-color:#717580;
        color:#E3E6EB;
    }
    .jsCalendar.grey-theme tbody td.jsCalendar-selected {
        background-color:transparent;
        border:2px solid #A3A6AE;
    }
    .jsCalendar.grey-theme tbody td:hover {
        background-color:#717580; 
        color:#E3E6EB;
    }
    .jsCalendar.grey-theme tbody td.jsCalendar-current {
        background-color:#42454C 
    }
    .jsCalendar.grey-theme tbody td.jsCalendar-current:hover {
        color:#E3E6EB 
    }
    .jsCalendar.grey-theme tbody td.jsCalendar-next,.jsCalendar.grey-theme tbody td.jsCalendar-previous {
        color:#B0B4BD
    }
    .jsCalendar.grey-theme tbody td.jsCalendar-next:hover,.jsCalendar.grey-theme tbody td.jsCalendar-previous:hover {
        color:#E3E6EB
    }
    .jsCalendar.grey-theme ::-moz-selection {
        background:#B0B4BD
    }
    .jsCalendar.grey-theme ::selection { 
        background:#B0B4BD 
    }
    .jsCalendar.white-theme table {
        background-color:#fff;
        box-shadow:0 0 2px rgba(80,80,80,.4);
        color:#333;
    }
    .jsCalendar.white-theme thead .jsCalendar-nav-left,.jsCalendar.white-theme thead .jsCalendar-nav-right {
        color:#AFAFAF
    }
    .jsCalendar.white-theme thead .jsCalendar-nav-left:hover,.jsCalendar.white-theme thead .jsCalendar-nav-right:hover {
        background-color:#DADADA;
        color:#555;
    }
    .jsCalendar.white-theme tbody td:hover {
        background-color:#DADADA;
        color:#000;
    }
    .jsCalendar.white-theme tbody td.jsCalendar-selected {
        border:2px solid #BFBFBF
    }
    .jsCalendar.white-theme tbody td.jsCalendar-current {
        background-color:#222
    }
    .jsCalendar.white-theme tbody td.jsCalendar-current:hover {
        color:#FFF
    }
    .jsCalendar.white-theme tbody td.jsCalendar-next,.jsCalendar.white-theme tbody td.jsCalendar-previous {
        color:#AFAFAF
    }
    .jsCalendar.white-theme tbody td.jsCalendar-next:hover,.jsCalendar.white-theme tbody td.jsCalendar-previous:hover {
        color:#000
    }
    .jsCalendar.white-theme ::-moz-selection {
        background:#AFAFAF
    }
    .jsCalendar.white-theme ::selection {
        background:#AFAFAF
    }

/*#calendar {
    width: 100%;
    grid-area: calendar;
}

table {
    text-align: center;
    width: 100%;
}

tr {
    height: 60px;
}

th {
    width: 14vw;
}

td {
    height: 100px;
    width: 14vw;
}

td:not(:hover)::before {
    content: ".";
    font-size: 50px;
}

td span {
    display: none;
}

td:hover span {
    display: inline;
}

a {
    color: white;
} */
