body {
    padding: 0%;
    margin: 0%;
}

.container {
    display: grid;
    grid-template-columns: 4.5vw 91vw 4.5vw;
    grid-template-rows: 5vh 85vh 5vh 5vh;
    grid-template-areas: 
    " . header . "
    " . calendar . "
    " . section . "
    " footer footer footer ";
}
aside {
    grid-area: aside;
}
section {
    grid-area: section;
}
header {
    grid-area: header;
}

.container > p {
    font-size: 25pt;
    text-align: center;
}

/*
.calendar {
    grid-area: calendar;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(6,1fr);
    justify-items: center;
    align-items: center;   
}

.calendar > div {
    font-size: 20pt;
}

.day:not(:hover)::before {
    content: ".";
    font-size: 50pt;
}

.day span {
    display: none;
}

.day:hover span {
    display: inline;
} */

#calendar {
    width: 100%;
    grid-area: calendar;
}

table {
    text-align: center;
    width: 100%;
}

tr {
    height: 60px;
}

th {
    width: 14vw;
}

td {
    height: 100px;
    width: 14vw;
}

td:not(:hover)::before {
    content: ".";
    font-size: 50px;
}

td span {
    display: none;
}

td:hover span {
    display: inline;
}

a {
    color: white;
}