/*== Backgrounds ==*/

:root {
    --bs-dark-rgb: 40, 40, 45;
    --bs-darker-rgb: 35, 35, 40;
    --bs-darkest-rgb: 22, 26, 30;
    --sticky-footer-height: 4em;
}
body {
    background-color: rgb(var(--bs-dark-rgb));
    color: white;
    height: calc(100% - var(--sticky-footer-height))
}
.bg-darker {
    background-color: rgb(var(--bs-darker-rgb));
}

/*=/= Backgrounds =/=*/


/*== Footer ==*/

footer.sticky {
    border-top: 0.125em solid rgb(var(--bs-darkest-rgb));
    position: fixed;
    bottom:0;
    width:100%;
    height: var(--sticky-footer-height);
    background-color: rgb(var(--bs-darkest-rgb));
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.meta-icon-container {
    display:grid;
    grid-template-columns: 40% 20% 40%;
    height: 100%;
    justify-items: center;
    align-items: center;
    width: 100%;
}
.footer-icon-container img {
    height: 3em;
}

/*=/= Footer =/=*/