body {
    background-color: rgb(35, 35, 40);
    color: white;
}

.logIn {
    width: 50%;
    border-radius: 4px;
}
#logo {
    text-align: center;
    width: 35%;
    margin: auto;
}
#trophyBackground {
    width: 50%;
    height: 50%;
    background: gold;
    border-radius: 50%;
}